<h1>All posts</h1>
<a href="/posts/create">Create post</a>

<!-- loop throught all posts with a forEach loop -->
<% posts.forEach( (post) => { %>

<div>
  <h2><%= post.title %></h2>
  <small><%= post.createdAt.toLocaleDateString() %> </small>
  <p><%= post.description %></p>
  <a href="/posts/update/<%= post.id %>">update</a>
  <a href="/posts/<%= post.id %>">read</a>
  <form action="/posts/<%= post.id %>?_method=DELETE" method="post">
    <button type="submit">delete</button>
  </form>
</div>

<% } ) %>
